<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>PhoneGap Build Application</name>
<gap:plugin name="com.adobe.plugins.gaplugin" />
<description>
A simple PhoneGap Build application.
</description>

<author href="http://www.kingsgarden.co.uk" email="simon@kingsgarden.co.uk">
Simon King
</author>

</widget>
